/* :root {
  
} */

html,
body,
div,
span,
h1,
header,
main,
section,
nav,
h2,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* body {

} */


#gameboards {
  display: flex;
  gap: 10px;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
}

.board-cell {
  background-color: grey;
}

.board-cell.ship {
  background-color: blue;
}

.board-cell.ship.hit {
  background-color: red;
}

.board-cell.hit {
  background-color: yellow;
}