@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Jost:wght@600&display=swap");
:root {
  --background: #161823;
  --primary: #262C48;
  --board: #3B4161;
  --grey: #727790;
  --text: #c7c9d3;
  --purple: #A88FD2;
  --blue: #75A1D0;
  --green-blue: #66BCC5;
  --green: #AEC873;
  --orange: #FB9F62;
  --red: #FF6972;
}

html,
body,
div,
span,
h1,
header,
main,
section,
nav,
h2,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--text);
  font-family: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif;
  background-image: url('./assets/background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin: 50px 0 0 50px;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header h1 {
  font-family: "Jost", Helvetica, Arial sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}

header h1 span {
  color: var(--green-blue);
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-info {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 30px;
}

#board-space {
  display: flex;
  gap: 50px;
}

button {
  padding: 6px 12px;
  border: 1px solid black;
  background-color: pink;
}

.board {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border-radius: 9px;
  border: 1px solid var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.no-events {
  pointer-events: none;
}

.ship-counter {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / -1;
}

.board-cell {
  background-color: var(--grey);
  border: 1px solid var(--primary);
}

.board-cell.ship {
  background-color: blue;
}

.board-cell.hit {
  background-color: red;
}

.board-cell.miss {
  background-color: yellow;
}

.board-cell.ship-preview {
  background-color: green;
}

.board-cell.invalid {
  background-color: crimson;
}

.game-over {
  filter: opacity(0.8) grayscale(75%);
}

#player-buttons {
  margin: 170px 20px 0 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-cell[data-x="0"][data-y="0"] {
  border-top-left-radius: 8px;
}
.board-cell[data-x="9"][data-y="0"] {
  border-top-right-radius: 8px;
}
.board-cell[data-x="0"][data-y="9"] {
  border-bottom-left-radius: 8px;
}
.board-cell[data-x="9"][data-y="9"] {
  border-bottom-right-radius: 8px;
}
